body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
h1{
    font-size: 3.5rem;
    color:rgb(6, 62, 146) 
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 45px;
    background-color: rgb(227, 99, 8);
    cursor: pointer;
    transition: background-color 0.5 ease;
    border-color: rgb(0, 0, 0);
}
.choices button:hover{
    background-color: rgb(255, 133, 47);
    
}
#PlayerDisplay, #ComputerDisplay{
    font-size: 2.5rem;
}
#ResultDisplay{
    font-size: 5rem;
}
.ScoreDisplay{
    font-size: 2rem;
}
.greenText, #PlayerScoreDisplay{
    color: rgb(17, 197, 35);
}
.redText, #ComputerScoreDisplay{
    color: rgb(201, 13, 10);
}